@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wn_contact_area bg--white pt--80 pb--80" style="margin-top:80px">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="google__map pb--80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="googleMap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 md-mt-40 sm-mt-40">
                <div class="wn__address">
                    <h2 class="contact__title">NTNStore</h2>
                    <p> là hiệu sách online dành cho mọi người cũng được hàng triệu người tin tưởng. Giá sách trên NTNStore và Tiki gần như không có nhiều sự cách biệt – cạnh tranh bằng giá hoặc có chênh lệch không đáng kể chỉ vài trăm đồng con con. Trên Vinabook cũng có dịch vụ bọc sách với giá 3.000/cuốn, đa dạng đầu sách, có giảm giá sách thường xuyên và có giao hàng tận nơi cả 7 ngày gồm cả ngày cuối tuần. Tương tự Tiki thì Vinabook cũng giao hàng Miễn Phí cho đơn từ 250.000 vnđ tuy nhiên nếu các bạn không mua tới 250.000 vnđ thì cũng chỉ phải chịu khoản phí ship rất nhỏ thôi khoảng 14.000 – 20.000 đồng.</p>
                    <div class="wn__addres__wreapper">

                        <div class="single__address">
                            <i class="icon-location-pin icons"></i>
                            <div class="content">
                                <span>Địa chỉ:</span>
                                <p>475A Điện Biên Phủ, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</p>
                            </div>
                        </div>

                        <div class="single__address">
                            <i class="icon-phone icons"></i>
                            <div class="content">
                                <span>Số điện thoại:</span>
                                <p>716-298-1822</p>
                            </div>
                        </div>

                        <div class="single__address">
                            <i class="icon-envelope icons"></i>
                            <div class="content">
                                <span>Email:</span>
                                <p>716-298-1822</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-about about_area bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title--3 text-center pb--30">
                        <h3 class="color--theme">Thích đọc sách tức là biết đánh đổi những giờ phút buồn tẻ không thể tránh được trong cuộc đời lấy những giờ phút lý thú.</h3>
                        <spane class="color--theme">Bởi đọc sách chính là hộ chiếu cho vô số cuộc phiêu lưu. </spane>
					</div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="content text-left text_style--2">
                        <h2>Nhà sách với chúng tôi với</h2>
                        <div class="skill-container">
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>Độ yêu thích của khách hàng</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span class="pen-lable"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>Sách của các tác giả nổi tiếng</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span class="pen-lable"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>Các series bán chạy nhất</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width:93%">
                                        <span class="pen-lable"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>Đa đạng thể loại</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span class="pen-lable"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="content">
                        <h3>Mua Sách</h3>
                        <h2>xây dựng tương lai</h2>
                        <p class="mt--20 mb--20">Ít ai biết rằng đọc sách mang đến cho ta nguồn kiến thức bất tận, bạn sẽ tìm thấy cho mình những triết lý sống, những danh ngôn tình yêu, mà bạn tâm đắc nhất qua những cuốn sách hay. Bởi vậy mà những câu nói hay về sách, những câu nói về thói quen đọc sách dưới đây sẽ tạo nên thiếu sót thật lớn nếu ai chưa biết và chưa đọc qua một lần.</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmGmeot5jcjdaJTvfCmQPfzeoG_pABeWo"></script>
<script>
	        // When the window has finished loading create our google map below
	        google.maps.event.addDomListener(window, 'load', init);

	        function init() {
	            // Basic options for a simple Google Map
	            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
	            var mapOptions = {
	                // How zoomed in you want the map to start at (always required)
	                zoom: 12,

	                scrollwheel: false,

	                // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(10.801833279671335, 106.71449169780738), // New York

	                // How you would like to style the map.
	                // This is where you would paste any style found on Snazzy Maps.
	                 styles:
					[

					    {
					        "featureType": "administrative",
					        "elementType": "labels.text.fill",
					        "stylers": [
					            {
					                "color": "#444444"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape",
					        "elementType": "all",
					        "stylers": [
					            {
					                "color": "#f2f2f2"
					            }
					        ]
					    },
					    {
					        "featureType": "poi",
					        "elementType": "all",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "road",
					        "elementType": "all",
					        "stylers": [
					            {
					                "saturation": -100
					            },
					            {
					                "lightness": 45
					            }
					        ]
					    },
					    {
					        "featureType": "road.highway",
					        "elementType": "all",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            }
					        ]
					    },
					    {
					        "featureType": "road.arterial",
					        "elementType": "labels.icon",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "transit",
					        "elementType": "all",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "transit.station.bus",
					        "elementType": "labels.icon",
					        "stylers": [
					            {
					                "saturation": "-16"
					            }
					        ]
					    },
					    {
					        "featureType": "water",
					        "elementType": "all",
					        "stylers": [
					            {
					                "color": "#04b7ff"
					            },
					            {
					                "visibility": "on"
					            }
					        ]
					    }
					]
	            };

	            // Get the HTML DOM element that will contain your map
	            // We are using a div with id="map" seen below in the <body>
	            var mapElement = document.getElementById('googleMap');

	            // Create the Google Map using our element and options defined above
	            var map = new google.maps.Map(mapElement, mapOptions);

	            // Let's also add a marker while we're at it
	            var marker = new google.maps.Marker({
	                position: new google.maps.LatLng(23.7286, 90.3854),
	                map: map,
	                title: 'Dcare!',
	                icon: 'images/icons/map.png',
	                animation:google.maps.Animation.BOUNCE

	            });
	        }
</script>

<script src="js/active.js"></script>

