
@{
    ViewBag.Title = "Compelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section" style="margin-top:200px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center order_complete">
                    <i class="fas fa-check-circle"></i>
                    <div class="heading_s1">
                        <h3>Bạn đã đặt hàng thành công!</h3>
                    </div>
                    <p>Cảm ơn bạn đã đặt hàng! Đơn hàng của bạn đang được xử lý và sẽ hoàn thành trong vòng 3-6 giờ. Bạn sẽ nhận được email xác nhận khi đơn hàng của bạn hoàn tất.</p>
                    <a href="@Url.Action("Index","Home")" class="btn btn-fill-out">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
</div>



